.navbar-form {
	margin-top: -6px;
	margin-bottom: 5px;
}
.navbar-default .navbar-nav > li > a {
	color: #2b3339;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #27b399;
}
.navbar-default {
	padding: 9px;
	background-color: #f2f3f5;
}
.navbar {
	margin-bottom: 0; /*deixar sldieshow junto com o menu*/
	border-radius: 0;
}
/*  Estender as imgs do sldieshow por toda a largura    */
.item img {
	width: 100%;
}
.carousel {
	margin-bottom: 5vw;
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	border: 2px solid #27b399;
	border-radius: 0;
}
.carousel-indicators .active {
	width: 17px;
	height: 17px;
	background-color: #27b399;
}
.container-fluid {
	padding: 0;/*para o slideshow não ficar com espaço nas laterais*/
}
.row { /* Bugzinho que acaba aparecendo um pequeno scroll horizontal */
	/*margin-left: 0;*/
	margin-right: 0;
}
/*      QUEM SOMOS      */
.breadcrumb {
	background-color: #f2f3f5;
}

/*      FIM QUEM SOMOS      */
/*  MINHAS CLASSES  */
html {
	position: relative; /*se eu não colocoar, o footer ja aparece colado embaixo mesmo se a pagina scrollar*/
	min-height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	margin-bottom: 330px; /*se eu não colocoar, o footer ja aparece colado embaixo mesmo se a pagina scrollar*/
}
footer {
	/* deixar o footer na parte de baixo */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 330px; /*se eu não colocoar, o footer ja aparece colado embaixo mesmo se a pagina scrollar*/
}
a {
	color: #2b3339;
}
a:hover {
	color: #27b399;
}
ul {
	padding-left: 0;
}
li {
	font-weight: 700;
}
hr {
	width: 50px;
	height: 2px;
	background-color: #27b399;
}
h2 {
	margin: 5px;
}
header {
	background-color: #2b3339;
}
h3 {
	margin: auto auto 2% auto;
}
textarea {
	resize: none;
}
/*    MAIN COLORS  */
.color-green {
	color: #27b399;
}
.color-dark {
	color: #2b3339;
}
.color-light {
	color: #f2f3f5;
}
/*    MAIN BG COLORS  */
.bg-green {
	background-color: #27b399;
}
.bg-dark {
	color: #f2f3f5;
	background-color: transparent;
	border-color: #27b399;
}
.bg-light {
	background-color: #f2f3f5;
}
/*  OTHER CLASSES   */
.top-header {
	padding-top: 10px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #f2f3f5;
	background-color: #2b3339;

}
.img-logo {
	height: 70px;
	margin-top: -23px;/*centralizar a logo na div*/
}
.estados {
	width: 80px;
}
#destaque li > a {
	color: #2b3339;
}
#information {
	margin-top: 25px;
	padding: 25px 0 0;
	background-color: #2b3339;
}
#information a {
	font-weight: 300;
}
#information li {
	padding: 10px 0;
}
.decoration {
	list-style: none;
}
#copyright {
	margin-top: 50px;
	padding: 15px 0 5px 0;
	background-color: #0f1c26;
}
.mar-shop {
	margin-top: -6px;
}
.verticalMargin {
	margin-bottom: 4vw;
}